<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONT CUSTOM -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="search">
        <input type="search" [(ngModel)]="searchProduct" placeholder="Search Here">
        <!-- <input type="search" (input)="onInputChanges($event)" placeholder="Search Here"> -->
        {{searchProduct}}
    </div>
    <div class="container">
        <h1>Recommended Products</h1>
        <div class="row">
            <div class="col" *ngFor="let products of tempValue | searchFilter:searchProduct">
                <img [src]="products.image" alt="{{products.name}}">
                <div class="inside-card">
                    <h2>{{products.name}}</h2>
                    <p>{{products.description}}</p>
                    <p><span [ngClass]="{'highprice': giveProductPriceColor(products.price)}">{{products.price | currency: 'INR'}} </span></p>
                    <div class="badge">
                    <h3><span>{{products.category}}</span></h3>
                    <p><span [ngStyle] = "{color: giveProductStockColor(products.stock)}">{{products.stock}}</span></p>
                    <div class="button">
                        <a href="" appCustomHoverBtn><span>Add to Cart?</span></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>