*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
:root{
    --primary-color:#ccc;
    --secondary-color:#333;
    --margin-one-top-bottom: 1rem 0;
    --margin-one-start-end: 0 1rem;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin: 1rem 0;
}
.search input{
    width: 50%;
    height: 3rem;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #ccc;
    /* border-color: var(--primary-color); */
    border-radius: 0.25rem;
    font-size: 1.2rem;
}
.container h1{
    /* background-color: lightblue; */
    margin: 1rem 0;
    padding-left: 1.5rem;
    /* margin-left: 1rem; */
}
.container .row{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-flow: row;
    gap: 2rem;
    /* background-color: red; */
    padding: 1rem 1.5rem;
    margin: 0 1rem;
}
.container .row .col{
    border: 1px solid #333;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 1px 3px 3px #333;
}
.container .row .col img{
    height: 18rem;
    object-fit: contain;
    border: hidden;
    /* background-color: red; */
    padding: 1.5rem 0;
}

.container .button{
    /* background-color: red; */
    margin: 1rem 0;
}
.container .button a{
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid #ccc;
    padding: 0.5rem 1.5rem;
    /* margin: 1rem 0; */
    /* background-color: red; */
}


/* for attributes with the use of property binding */
.highprice{
    color: red;
    font-weight: bold;
}
.stock{
    color: red;
    font-weight: bold;
}