<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONT CUSTOM -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="container">
        <h1>Category Name</h1>
        <div class="row">
            <div class="col">
                <!-- <img src="assets/images/iphone_15_pro_max.jpg" alt="iphone_images"> -->
                <!-- <img src="assets/images/iphone_15_pro_max.webp" alt="iPhone 15 Pro Max"> -->
                <img src="assets/images/iphone_15_pro_max.webp" alt="iPhone 15 Pro Max">
                <h2>Product name</h2>
                <p>Product Description</p>
                <p><span>Product Price</span></p>
                <div class="badge">
                <p><span>category</span></p>
                <p><span>stock or no</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>